doctype html
html
  head
    meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.2/howler.min.js")
    script(src="/javascripts/library.js")
    block header
  body
    block content
    
  block scripts
